# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# IDE
.idea/
.vscode/

# Airflow
airflow/logs/
airflow/*.db

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
dist/
build/trino/catalog/*.properties
